#main {
	position: absolute;
	left: 300px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	border-left: 1px solid black;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	bottom: 0px;
	overflow: hidden;
	border-right: 1px solid black;
	
	
}

.gwt-Button{
	-moz-box-shadow : inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

@media only screen and (orientation:portrait) {
	#main {
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	#nav {
		display:none;
	}
}